@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F7F7F8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body{
  scroll-behavior: smooth;
}

h1 {
  line-height: 1.1;
  text-align: center;
  top: 0;
  color:#285680 ;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
}

main{
  max-width: 500px;
  margin: auto;
  padding: 5rem;
}

p{
  background-color:#285680;
  max-width: 70%;
  padding: .3rem 2rem;
  border-radius: 1px 12px 1px 12px ;
  font-size: .9rem;
  font-weight: 500;
  min-height:2rem;
  -webkit-border-radius: 1px 12px 1px 12px ;
  -moz-border-radius: 1px 12px 1px 12px ;
  -ms-border-radius: 1px 12px 1px 12px ;
  -o-border-radius: 1px 12px 1px 12px ;
}

p span{
  margin: 5px;
}

p span:first-child{
  margin-right: 0;
}

.user_msg{
  text-align: right;
  margin-left: 30%;
  display: flex;
  flex-direction: row-reverse;
  min-height: 2rem;
  width: fit-content;
}

.hide {
  visibility: hidden;
  display: none;
}

form{
  text-align: center;
  position: sticky;
  bottom: 0;
}

input{
  width: 70%;
  border: none;
  padding: .8rem;
  background-color:#fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

input:focus{
  outline: none;
}
#navBar{
color: #000;
display: flex;
justify-content: space-between;
padding: .1rem 3rem;
}
#navBar ul{
list-style: none;
display: flex;
gap: 2rem;
}
#navBar ul li{
font-family: 'Roboto Slab', serif;
color: #285680;
}
#logo{
width:3rem
}